body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    background-color: #ccc;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: baseline;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 190px;
}

.main-nav{
    padding-bottom: 180px;


}


.main-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    
}

.intro {
    background-color: #e0e0e0;
    justify-content: left;
    
}

.featured-project {
    padding: 40px;
    text-align: center;
}

.slider {
    background-color: #aaa;
    padding: 60px;
}

.services, .recent-work {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.service-box, .work-box {
    background-color: #ccc;
    width: 30%;
    height: 150px;
    text-align: center;
    padding: 20px;
}

.twitter-feed {
    padding: 20px;
    text-align: center;
    background-color: #ccc;
    margin-bottom: 20px;

}

footer {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
    display: flex;
    gap: 10px; 
}

.footer-nav a {
    padding-left: 60px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.copyright {
    font-size: 14px;
    color: #666;
    padding-right: 600px;
}